<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Tic Tac Toe</title>
</head>
<body>
    <div id="app">
        <h1>Tic Tac Toe</h1>
    <form class="form-container" @click="compareAreas"> 
        <input type="text" size="1" id="area-a" v-model="a"> 
        <input type="text" size="1" id="area-b"v-model="b">
        <input type="text" size="1" id="area-c"v-model="c">
        <input type="text" size="1" id="area-e"v-model="d">
        <input type="text" size="1" id="area-f"v-model="e">
        <input type="text" size="1" id="area-g"v-model="f">
        <input type="text" size="1" id="area-h"v-model="g">
        <input type="text" size="1" id="area-i"v-model="h">
        <input type="text" size="1" id="area-j"v-model="i">
</form>
<p class="winner" v-if="winner">Du hast gewonnen🥳!</p>
       
    </div>
    <script src="script.js"></script>
</body>
</html>